*
{
    margin: 0;
    padding: 0;
}


body
{
    min-height: 100vh;
    background-color: #ffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: #ffff;
   
}

nav ul
{
    width:100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li
{
    height:50px;
}

nav a{
    height:100%;
    padding:0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color: #004270;
}



nav li:first-child
{
    margin-right: auto;
}


.sidebar
{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}


img
{   
    float:right;
    max-width: 50vw;
    max-height: 50vh;
    margin-top: 11rem;
    margin-right: 5rem;
    border-radius: 5%;
}


.sidebar li
{
    width:100%;
}


.sidebar a{
    width:100%;
}

.menu-button
{
    display:none;
}


.banner {
    
    width:100vw;
    height:100vh;
   
}


.banner-content {
    float: left;
    margin-left: 5rem;
    margin-top: 10rem;
 
}

.banner h1 {
    font-size: 3em;
    margin: 0.5em 0;
    color:#067516;
}

.banner p {
    font-size: 1.5em;
    max-width: 40vw;
    margin: 0.5em 0;
    color:#067516;
}

.banner-button {
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1.25em;
    margin-top: 2rem;
    color: white;
    background-color:#1c0a52;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 250px;
}

.banner-button:hover {
    background-color: #0056b3;
}


.how-it-works {
    padding: 2em;
    text-align: center;
    background-color: #FFDF2E;
}

.how-it-works h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color:#004270
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    background-color:#1c0a52;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5rem;
    margin: 1em 0;
    width: 500px;
    height:100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:#ffff;
}

.step h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.step p {
    font-size: 1em;
    margin: 0;
}

.services {
    padding: 2em;
    text-align: center;
    background-color: #ffff;
  
}

.services h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #067516;
}

.service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item {
    background-color: #067516;;
    border: 1px solid #067516;;
    border-radius: 8px;
    padding: 5rem;
    width: 500px;
    height:100px;
    margin: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.service-item h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color:white
}

.service-item p {
    font-size: 1em;
    margin: 0;
    color:white;
}

.why-choose-care-pay {
    padding: 2em;
    text-align: center;
    background-color: white;
}

.why-choose-care-pay h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #004270;
}

.benefits-list {
 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-item {
    background-color: #004270;
    border: 1px solid #067516;
    color:white;
    border-radius: 8px;
    padding: 5rem;
    width: 500px;
    height:100px;
    margin: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.benefit-item h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.benefit-item p {
    font-size: 1em;
    margin: 0;
}

.features {
    display: flex;
    text-align: center;
    flex:1;
    justify-content: space-between; /* Distribute items evenly with space between them */
    align-items: center; /* Center items vertically */
    background-color:#1c0a52;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;


}
.features h3 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
 
}

.features p {
    font-size: 16px;
    color: #666;
    text-align: center;
 
}

.feature-item {
    display: flex;
    flex-direction: column;  /* Stack image and text vertically */
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    text-align: center;
    height: 100%;            /* Ensure the div takes up full height */
    background:#ffffff;
    border-radius: 5%;
    padding:2rem;
    margin-left: 1rem;
    margin-right: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.feature-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Horizontal centering */
}

.feature-item1 {
    display: flex;
    flex-direction: column;  /* Stack image and text vertically */
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    text-align: center;
    height: 100%;            /* Ensure the div takes up full height */
    background: #ffffff;
    border-radius: 5%;
    padding:2rem;
    margin-right: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}


.feature-item1 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Horizontal centering */
}


.feature-item2 {
    display: flex;
    flex-direction: column;  /* Stack image and text vertically */
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    text-align: center;
    height: 100%;            /* Ensure the div takes up full height */
    background: #ffffff;
    border-radius: 5%;
    padding:2rem;
    margin-right: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}


.feature-item2 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Horizontal centering */
}

.feature-item:hover {
    transform: translateY(-10px); /* Lift the item slightly on hover */
}

.feature-item1:hover {
    transform: translateY(-10px); /* Lift the item slightly on hover */
}
.feature-item2:hover {
    transform: translateY(-10px); /* Lift the item slightly on hover */
}


.footer {
    background-color: #000000;
    color: white;
    padding: 2rem;
    text-align: center;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer p {
    margin: 0.5rem 0;
}

.social {
    margin: 1rem 0;
}

.linkedin {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin i {
    margin-right: 0.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    max-width: 400px;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}


.contact-formtop {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.contact-formtop input
{
    width: 100%;
    max-width: 400px;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contact-form button {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #141780;
}

.imagelinkedin
{   max-width: 40px;
    max-height: 40px;
    background-color: #0056b3;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}
@media screen and (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .feature-item {
        width: 80%;
        margin-bottom: 30px;
    }
}



@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .feature-item {
        margin: 1rem 0;
    }
}



@media(max-width:800px)
{
    .hideOnMobile
    {
        display:none;
    }

    .menu-button
{
    display:block;
}
}

@media(max-width:400px)
{
    .sidebar{
        width:100%;
    }
}

@media (max-width: 768px) {
    .banner-content {
        margin-left: 2rem;
        margin-top: 8rem;
    }

    .banner h1 {
        font-size: 2.5em;
    }

    .banner p {
        font-size: 1.2em;
        max-width: 90%;
    }

    .banner-button {
        font-size: 1em;
        width: 200px;
    }

.banner{
   display: flex;
   justify-content: center;
   align-items: center;
}


    .step, .service-item, .benefit-item {
        padding: 1rem;
        max-width: 380px;
    }

    .step h2, .service-item h2, .benefit-item h2 {
        font-size: 1rem;
        max-width: 350px;
    }

    .step p, .service-item p, .benefit-item p {
        font-size: 0.9em;
        max-width: 350px;
    }

    .feature-item {
      
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1.5rem;
     
    }
    
   
    
    .feature-item1 {
  
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
    
    
    
    
    
    .feature-item2 {
       margin-left: 0;
       margin-right: 0;
    }
}





.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
}

.banner-content {
   
    margin-right: 2rem;
    color: #067516;
    float:left;
   
  
 
}

.banner-img {
    flex: 1;
    margin-left: 3rem;
    max-width: 50%;
    height: auto;
    float:right;
    object-fit: cover;
}

.banner h1 {
    font-size: 3em;
    margin: 0.5em 0;
    color: #067516;
}

.banner p {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #067516;
}

.banner-button {
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1.25em;
    margin-top: 2rem;
    color: white;
    background-color: #1c0a52;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 250px;
}

.banner-button:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner-content {
        margin: 0;
        max-width: 85%;
     
        margin-top: 20rem;
    }

    .banner-img {
        max-width: 85%;
        margin-bottom: 5rem;
       
    }

    .banner h1 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1rem;
        max-width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .banner-button {
        font-size: 1em;
        width: 200px;
    }
}

